@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Chewy&family=Work+Sans:wght@400;500&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  color: #184d70;
}
.ff-capriola {
  font-family: "Capriola", sans-serif;
}
.ff-chewy {
  font-family: "Chewy", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

nav.mobile {
  display: none;
}
nav.desktop {
  display: flex;
}

.max-window {
  max-width: 1200px;
}

a {
  text-decoration: none !important;
}

nav .item.aktif {
  padding: 2px 20px;
  background-color: #164b60;
  color: white;
  border-radius: 20px;
}

nav {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #164b60;
  font-size: 22px;
  font-weight: 500;
}

nav a {
  color: #164b60;
}

.signup {
  background-color: #164b60;
  color: white;
  padding: 6px 10px;
  border-radius: 10px;
}

nav img {
  width: 100px;
}

.bg-konten {
  background-image: url(https://source.unsplash.com/random/900×700/?travel);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  background-position: center;
  opacity: 1;
}

.hero-parent {
  background-color: rgba(225, 225, 225, 0.8);
}

.app img {
  width: 300px;
  /* border: 4px solid #164b60; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border-radius: 26px;
}

.kotak-list {
  width: 240px;
  height: 280px;
  border-radius: 20px;
  background-color: white;
  border: 4px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-size: cover;
  background-repeat: no-repeat;
}

.kotak-list .tag-name {
  background-color: rgba(80, 141, 105, 0.8);
  color: white;
  width: 100%;
  font-size: 24px;
  padding: 2px 8px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 64px;
  line-height: normal;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 4px solid white;
}

.se1 {
  padding-top: 5rem;
}

.se1 .position-absolute {
  bottom: 80px;
  left: 80px;
  width: calc(100% - 200px);
}

.title {
  font-size: 60px;
  color: #164b60;
  font-weight: 800;
}

.sub-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
}

.top-list {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.list-fungsi {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
}

.top-parent {
  line-height: normal;
  background-color: rgba(160, 216, 179, 0);
  /* padding: 16px; */
  border-radius: 30px;
  width: fit-content;
}

.list-fungsi img {
  width: 160px;
  height: 160px;
  padding: 6px;
  object-fit: contain;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border-radius: 16px;
  background-color: white;
}

.list-fungsi .text-fungsi {
  font-size: 30px;
  max-width: 400px;
  font-weight: 800;
  line-height: 1;
  color: cadetblue;
}

.se2 .konten {
  gap: 100px;
}

.se3 {
  background-image: url(bahan/se1.webp);
  background-size: cover;
}

.se3 .sub-title {
  text-align: justify;
}

.px-5-me {
  padding-left: 3rem;
  padding-right: 3rem;
}

.p-5-me {
  padding: 3rem;
}

.mb-5-me {
  margin-bottom: 3rem;
}

.vh-100-me {
  height: 100vh;
}

@media screen and (max-width: 620px) and (orientation: portrait) {
  nav.mobile {
    display: flex;
  }
  nav.desktop {
    display: none;
  }
  .se1 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .se1 .hero-parent {
    padding: 1.5rem !important;
    border-radius: 50px !important;
  }

  .kotak-list {
    width: 140px;
    height: 180px;
    border-radius: 20px;
  }
  .kotak-list .tag-name {
    width: 100%;
    font-size: 14px;
    padding: 2px 6px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 44px;
  }

  .se1 .position-absolute {
    bottom: 48px;
    left: 24px;
    width: calc(100% - 48px);
  }

  .se1 .title {
    font-size: 32px;
  }

  .sub-title {
    font-size: 16px;
  }

  .se1 .mb-5-me {
    margin-bottom: 1rem;
  }

  .se2.vh-100-me {
    height: unset;
  }

  .title {
    font-size: 44px;
  }

  .list-fungsi img {
    width: 120px;
    height: 120px;
    padding: 6px;
  }
  .list-fungsi .text-fungsi {
    font-size: 24px;
  }

  .se2 .app {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
